// Colors

$color-primary-1: hsl(217, 28%, 15%);
$color-primary-2: hsl(218, 28%, 13%);
$color-primary-3: hsl(216, 53%, 9%);
$color-primary-4: hsl(219, 30%, 18%);

$color-accent-1: hsl(176, 68%, 64%);
$color-accent-2: hsl(198, 60%, 50%);
$color-accent-3: hsl(0, 100%, 63%);

$color-neutral-1: hsl(0, 0%, 100%);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	// border: 1px solid tomato;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.4rem;
	background-color: $color-primary-1;
	color: $color-neutral-1;
	font-family: "Open Sans", sans-serif;
}
//////////
// UTILITY
.marg-btm-m {
	margin-bottom: 4.8rem;
}

/////////////
// COMPONENTS
.heading-primary,
.heading-secondary {
	font-size: 4.4rem;
	font-family: "Raleway", sans-serif;
	line-height: 1.5;
}

.paragraph--small {
	line-height: 1.7;
}

.btn {
	&:link,
	&:visited {
		display: inline-block;
		margin-top: 2.4rem;
		padding: 1.8rem 8rem;
		border-radius: 3rem;
		background-image: linear-gradient(
			to right,
			$color-accent-1,
			$color-accent-2
		);
		color: $color-neutral-1;
		text-decoration: none;
		font-weight: 700;
		font-size: 1.6rem;
	}

	&:hover,
	&:active {
		background-image: linear-gradient(
			to right,
			lighten($color-accent-1, 10),
			lighten($color-accent-2, 10)
		);
	}
}
/////////////

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 6.4rem 9.6rem;

	&__wrapper {
		display: flex;
		gap: 4.8rem;

		&-link {
			font-family: "Raleway", sans-serif;

			&:link,
			&:visited {
				text-decoration: none;
				color: darken($color-neutral-1, 15);
				transition: all 0.3s ease;
				font-size: 1.8rem;
			}

			&:hover,
			&:active {
				text-decoration: underline;
				color: $color-neutral-1;
			}
		}
	}
}

.section-cta {
	text-align: center;
	background-image: url(../images/bg-curvy-desktop.svg);
	background-size: cover;
	background-position-y: 30rem;
	background-position-x: -50rem;
	background-repeat: no-repeat no-repeat;
	animation: fadeIn 1.5s ease forwards;

	.cta-img {
		display: block;
		margin: 0 auto;
		margin-bottom: 4.8rem;
	}

	.text-container {
		margin: 0 auto;
		max-width: 75rem;
	}

	.cta-description {
		font-size: 2rem;
		line-height: 1.7;
		margin: 0 auto;
	}
}

@keyframes fadeIn {
	0% {
		clip-path: circle(1.5% at 50% 50%);
	}

	100% {
		clip-path: circle(70.7% at 50% 50%);
	}
}

.section-features {
	padding: 9.6rem 0;
	background-color: $color-primary-2;

	.container {
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-wrap: wrap;
		max-width: 100rem;
		gap: 9.6rem;
		margin: 0 auto;

		.feature {
			max-width: 35rem;
			text-align: center;
			display: flex;
			flex-direction: column;
			gap: 1.8rem;

			&-img {
				display: block;
				height: 10rem;
				margin: 0 auto;
			}
		}
	}
}

.section-productive {
	padding: 9.6rem 0;
	background-color: $color-primary-2;

	.container {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		align-items: center;
		gap: 4.8rem;

		.heading-secondary {
			max-width: 40rem;
			margin-bottom: 2.4rem;
		}

		p {
			max-width: 50rem;
			line-height: 1.7;
			font-size: 1.6rem;
			margin-bottom: 2.4rem;
		}

		a:link,
		a:visited {
			padding-bottom: 0.5rem;
			border-bottom: 1px solid $color-accent-1;
			font-size: 1.8rem;
			color: $color-accent-1;
			text-decoration: none;
			line-height: 1;
			transition: all 0.3s ease;

			display: flex;
			align-items: center;
			width: fit-content;
			gap: 0.6rem;
		}

		a:hover,
		a:active {
			color: $color-neutral-1;
			border-bottom: 1px solid $color-neutral-1;
		}
	}
}

.section-testimonials {
	padding: 9.6rem 4.8rem 12.6rem 4.8rem;
	background-color: $color-primary-2;

	.container {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 2.4rem;

		.testimonial {
			background-color: $color-primary-4;
			border-radius: 4px;
			max-width: 45rem;
			padding: 4.8rem 2.4rem 3.2rem 2.4rem;
			position: relative;
			box-shadow: $color-primary-4 0px 5px 15px;

			&:nth-child(1)::before {
				content: "";
				position: absolute;
				display: block;
				height: 5rem;
				width: 6rem;
				top: -3.2rem;
				left: -3.2rem;
				background-image: url(../images/bg-quotes.png);
				background-repeat: no-repeat no-repeat;
			}

			&:nth-child(3)::after {
				content: "";
				position: absolute;
				display: block;
				height: 5rem;
				width: 6rem;
				bottom: -3.2rem;
				right: -3.2rem;
				background-image: url(../images/bg-quotes.png);
				background-repeat: no-repeat no-repeat;
			}

			p {
				line-height: 1.5;
				margin-bottom: 2.4rem;
			}

			.profile {
				display: flex;
				align-items: center;
				gap: 1.2rem;

				img {
					height: 3.2rem;
					border-radius: 50%;
				}

				.profile-info {
					display: flex;
					flex-direction: column;

					.profile-name {
						margin-bottom: 0;
						font-size: 1.2rem;
					}

					.profile-position {
						color: darken($color-neutral-1, 15);
						font-size: 1.1rem;
						margin-bottom: 0;
					}
				}
			}
		}
	}
}

.section-early-access {
	max-width: 80rem;
	margin: 0 auto;
	padding: 4.8rem;
	transform: translateY(15.6rem);
	background-color: $color-primary-1;
	border-radius: 4px;
	text-align: center;
	box-shadow: $color-primary-3 0px 30px 60px -12px,
		rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

	h3 {
		font-size: 3.2rem;
		font-family: "Raleway", sans-serif;
		margin-bottom: 2.4rem;
	}

	p {
		margin-bottom: 2.4rem;
	}

	form {
		display: flex;
		justify-content: center;
		gap: 2.4rem;

		.input-email {
			width: 100%;
			border-radius: 3rem;
			border: none;
			padding-left: 2.4rem;

			&::placeholder {
				font-family: inherit;
				color: gray;
			}
		}

		.input-submit {
			font-family: inherit;
			color: inherit;
			background-image: linear-gradient(
				to right,
				$color-accent-1,
				$color-accent-2
			);
			padding: 1.4rem 2.4rem;
			border-radius: 3rem;
			font-size: 1.6rem;
			font-weight: 700;
			border: none;

			&:hover,
			&:active {
				cursor: pointer;
				background-image: linear-gradient(
					to right,
					lighten($color-accent-1, 10),
					lighten($color-accent-2, 10)
				);
			}
		}
	}
}

footer {
	padding: 12.6rem 9.6rem;
	background-color: $color-primary-3;

	a:link,
	a:visited {
		color: darken($color-neutral-1, 15);
		text-decoration: none;
		transition: all 0.3s ease;
	}

	a:hover,
	a:active {
		color: lighten($color-neutral-1, 15);
	}

	img {
		width: 12.6rem;
		margin-bottom: 4.8rem;
	}

	.container {
		display: flex;
		flex-wrap: wrap;
		gap: 4.8rem;
		justify-content: space-between;

		.location {
			max-width: 35rem;
			font-size: 1.6rem;
			line-height: 1.5;

			display: flex;
			align-items: flex-start;
			gap: 2.4rem;

			img {
				width: 1.2rem;
				margin-bottom: 0;
				margin-top: 0.5rem;
			}

			p {
				line-height: 1.5;
			}
		}

		.contact {
			display: flex;
			flex-direction: column;
			gap: 2.4rem;

			span {
				display: flex;
				align-items: center;
				gap: 2.4rem;

				img {
					width: 2.4rem;
					margin-bottom: 0;
				}
			}
		}

		.links {
			display: flex;
			flex-direction: column;
			gap: 2.4rem;
		}

		.socials {
			display: flex;
			gap: 1.2rem;

			ion-icon {
				color: $color-neutral-1;
				font-size: 2rem;
				padding: 0.6rem;
				border-radius: 50%;
				border: 1px solid $color-neutral-1;
				transition: all 0.3s ease;

				&:hover {
					border: 1px solid $color-accent-1;
					color: $color-accent-1;
					cursor: pointer;
				}
			}
		}
	}

	.attribution {
		margin-top: 2.4rem;
		line-height: 1.7;

		a:link,
		a:visited {
			color: $color-accent-1;
			transition: all 0.3s ease;
		}

		a:hover,
		a:active {
			color: lighten($color-accent-1, 10);
		}
	}
}

// BELOW 900 PX
@media (max-width: 56.25em) {
	/////////////
	// COMPONENTS
	.heading-primary,
	.heading-secondary {
		font-size: 3rem;
		font-family: "Raleway", sans-serif;
	}

	.header {
		padding: 3.2rem;

		.logo {
			width: 12.6rem;
		}
	}

	.section-cta {
		background-image: url(../images/bg-curvy-mobile.svg);

		.cta-img {
			margin-top: 2.4rem;
			width: 90%;
		}

		.text-container {
			padding: 0 2.4rem;
		}
	}

	.section-productive {
		padding: 9.6rem 0;
		background-color: $color-primary-2;

		img {
			display: block;
			margin: 0 auto;
			width: 90%;
		}

		.text-contaier {
			padding: 0 2.4rem;
		}
	}
}

// BELOW 660 PX
@media (max-width: 41.25em) {
	.header {
		.logo {
			width: 9.6rem;
		}

		&__wrapper {
			gap: 2.4rem;

			&-link {
				&:link,
				&:visited {
					font-size: 1.6rem;
				}
			}
		}
	}

	.section-early-access {
		width: 100%;
		margin: 0 auto;
		padding: 2.4rem;

		h3 {
			font-size: 2.2rem;
		}

		form {
			flex-direction: column;

			.input-email {
				padding: 1.8rem;
			}
		}
	}

	footer {
		padding: 8rem 2.4rem;
	}
}

// BELOW 425 PX
@media (max-width: 26.5625em) {
	.header {
		.logo {
			width: 6.4rem;
		}

		&__wrapper {
			gap: 1.2rem;

			&-link {
				&:link,
				&:visited {
					font-size: 1.4rem;
				}
			}
		}
	}

	.section-testimonials {
		padding: 9.6rem 2.4rem 12.6rem 2.4rem;

		.container {
			.testimonial {
				&:nth-child(1)::before {
					top: -2.4rem;
					left: -1.2rem;
				}

				&:nth-child(3)::after {
					content: "";

					bottom: -2.4rem;
					right: -1.2rem;
				}
			}
		}
	}

	footer {
		.container {
			flex-direction: column;

			.socials {
				justify-content: center;
			}
		}
	}
}

// Headings, Call-to-actions, Header Navigation
// font-family: "Raleway", sans-serif;

// SPACING SYSTEM (px)
// 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

// FONT SIZE SYSTEM (px)
// 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
